<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sandboxer &#128293;</title>
    {pure-min}
    {side-menu}
</head>
<body>


<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="#">Sandboxer &#128293;</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <a href="/" class="pure-menu-link">Active VMs &#128187;</a>
                </li>
                <li class="pure-menu-item">
                    <a href="/meta" class="pure-menu-link">VMs meta &#128021;</a>
                </li>
                <li class="pure-menu-item">
                    <a href="/config" class="pure-menu-link">Config file &#129425;</a>
                </li>
                <li class="pure-menu-item">
                    <a href="/stats" class="pure-menu-link">Usage stats &#9749;</a>
                </li>
                <li class="pure-menu-item">
                    <a href="/reload" class="pure-menu-link">Refresh meta &#128660;</a>
                </li>
            </ul>
        </div>
    </div>

    {main-content}

</div>


{ui-js}

</body>
</html>
