<div id="main">
    <div class="header">
        <h1>Usage stats &#9749;</h1>
        <h2>Some cool sandboxer stats</h2>
    </div>

    <div class="content">
        <h2 class="content-subhead">General stats</h2>
        <table class="pure-table pure-table-horizontal">
            <thead>
            <tr>
                <th>name</th>
                <th>value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Total VMs created</td>
                <td>{totalVMs}</td>
            </tr>
            <tr>
                <td>Total updates served</td>
                <td>{totalUpdates}</td>
            </tr>
            </tbody>
        </table>

        <h2 class="content-subhead">Latest 30 VMs finalized</h2>
        <table class="pure-table pure-table-horizontal">
            <thead>
            <tr>
                <th>name</th>
                <th>ipv4</th>
                <th>network</th>
                <th>rules</th>
                <th>created</th>
                <th>vm</th>
                <th>state</th>
                <th>destroyed</th>
            </tr>
            </thead>
            <tbody>
            {rows}
            </tbody>
        </table>
    </div>
</div>