<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <root level="error">
        <appender-ref ref="APP_LOG"/>
    </root>

    <property name="DEV_HOME" value="./logs"/>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="APP_LOG" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>logFileName</key>
            <defaultValue>server_log</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${logFileName}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${DEV_HOME}/${logFileName}.log</file>
                <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                    <pattern>%date{yy-MM-dd HH:mm:ss.SSS,GMT-5} %-5level [%F#%L] %msg\n</pattern>
                </encoder>
                <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                    <FileNamePattern>${DEV_HOME}/${logFileName}.%i.log.zip
                    </FileNamePattern>
                    <MinIndex>1</MinIndex>
                    <MaxIndex>10</MaxIndex>
                </rollingPolicy>
                <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                    <MaxFileSize>10MB</MaxFileSize>
                </triggeringPolicy>
            </appender>
        </sift>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date{yy-MM-dd HH:mm:ss.SSS,GMT-5} %-5level [%F#%L] %msg\n</pattern>
        </layout>
    </appender>

    <!-- SandboxServer -->
    <logger name="dev.donhk.server.SandboxServer" additivity="false">
        <level value="info"/>
        <appender-ref ref="APP_LOG"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- DBManager -->
    <logger name="dev.donhk.database.VMDataAccessService" additivity="true">
        <level value="info"/>
        <appender-ref ref="APP_LOG"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- DatabaseServer -->
    <logger name="dev.donhk.database.DatabaseServer" additivity="true">
        <level value="info"/>
        <appender-ref ref="APP_LOG"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- VBoxManager -->
    <logger name="dev.donhk.vbox.VBoxManager" additivity="true">
        <level value="info"/>
        <appender-ref ref="APP_LOG"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- ClientConnection -->
    <logger name="dev.donhk.sbx.ClientConnection" additivity="true">
        <level value="info"/>
        <appender-ref ref="APP_LOG"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- DestroyVM -->
    <logger name="dev.donhk.sbx.DestroyVM" additivity="true">
        <level value="info"/>
        <appender-ref ref="APP_LOG"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- UpdateConnection -->
    <logger name="dev.donhk.helpers.ConfigFileFactory" additivity="true">
        <level value="info"/>
        <appender-ref ref="APP_LOG"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- HttpDaemon -->
    <logger name="dev.donhk.server.HttpDaemon" additivity="true">
        <level value="info"/>
        <appender-ref ref="APP_LOG"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- HttpDaemon -->
    <logger name="dev.donhk.web.core.WebContextsHandler" additivity="true">
        <level value="info"/>
        <appender-ref ref="APP_LOG"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- HttpDaemon -->
    <logger name="dev.donhk.system.VMMetadataSynchronizer" additivity="true">
        <level value="info"/>
        <appender-ref ref="APP_LOG"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- SystemCleaner -->
    <logger name="dev.donhk.system.SystemCleaner" additivity="true">
        <level value="info"/>
        <appender-ref ref="APP_LOG"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- SystemCleaner -->
    <logger name="dev.donhk.system.Postman" additivity="true">
        <level value="info"/>
        <appender-ref ref="APP_LOG"/>
        <appender-ref ref="STDOUT"/>
    </logger>



    <!-- SandboxServer -->
    <logger name="dev.donhk.server.SandboxServer" additivity="true">
        <level value="info"/>
        <appender-ref ref="APP_LOG"/>
        <appender-ref ref="STDOUT"/>
    </logger>

</configuration>